
*{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    border:0 ;
    outline: 0;
      margin: 0;
    
}
.container
{
    background-color: rgb(73, 197, 104);
    background-size: cover;
   
}

.section-1{
    border: 10px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 9rem;
    padding-bottom: 2rem;
   
    background-color: hsl(240deg 90% 12%)
}

.login
{
  
   background-color: yellow; 
}
.input-box
{
    
        border: 2px ;
        border-radius: 5px;
        padding: 10px;
       

}
form{
    min-width:2rem;
    
    color:white;
}
.radioclass{
    display: flex;
}